*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: cursive;
}

.utility {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#utility{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.button{
    background: rgb(143, 27, 238);
    font-size: 15px;
    padding:10px;
    width:100px;
    text-align: center;
    height: 30px;
}

#main-box{
    width:100vw;
    max-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    flex-direction: column;
}

.question-box{
    display: flex;
    flex-direction: column;
}

.grid{
    display:grid;
    gap:5px;
    margin:10px;
    
}

.button:hover{
    border-color: yellow;
}

#initial-hide{
    display: none;
} 

.leaderboard{
    font-size: 50px;
    color: turquoise;
    font-weight: bold;
}

